spring:
  application:
    name: task-management-service-stg
  datasource:
    url: jdbc:h2:mem:taskdb_stg
    driver-class-name: org.h2.Driver
    username: sa
    password:
  h2:
    console:
      enabled: false
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: false
    properties:
      hibernate:
        format_sql: true
    database-platform: org.hibernate.dialect.H2Dialect

server:
  port: 8082

logging:
  level:
    root: WARN
    com.taskmanagement: INFO
